<h1>My Rails & FusionAuth App</h1>
<% if logged_in? %>
  Welcome <%= current_user %>.
  <br/><br/>
  Please proceed to do cool things!
  <br/><br/>
  <%= link_to 'Log Out', controller: 'oauth', action: :logout %>
<% else %>
  <p>Welcome! Please <%= link_to 'sign in', controller: 'oauth', action: :login %> </p>
<% end %>
